apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: movie-service-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgresql.persistence.size }}
